html {
	overflow-y: hidden;
}

#box-main {
	display: box;
	box-orient: vertical;
}

	#box-query {
		display: box;
		box-flex: 1;
		height: 72%;
	}

		#box-query-and-result, .box-query-and-result {
			display: box;
			box-orient: vertical;
			box-flex: 1;

			width: 80%;
			position: relative;
		}

			#box-toolbar {

			}

			#box-result-cont {
				box-flex: 1;

				top: 140px;
				bottom: 0;

				position: absolute;
			}

				#box-result {
					position: absolute;
					width: 100%;
					height: 100%;
				}

		#box-timeline {
			box-flex: 0;
			width: 20%;
		}

	#box-query-status {
		box-flex: 0;
		height: 28%;
	}
