.toolbar {
	position: fixed;
	top: 40px;
	width: 100%;
	
	height: 60px;
	border-bottom: 1px solid #ccc;
	background-color: #f0f0f0;
	box-shadow: 0 0 10px #ccc;
	z-index: 3;
}

.container {
	position: fixed;
	width: 100%;
	top: 100px;
	bottom: 0;
}

#qbar {
	margin: 10px;
}

#qresult {
	height: 100%;
}

th {
	background-color: #05B2C2;
	color: white;
}