body {
	/* background: url('../img/bg.png') no-repeat 0 0; */
	background-size: 100%;
	font-family: 'Lucida Grande', 'Segoe UI'
}

#taskbar {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.04, rgb(224,224,224)),
		color-stop(0.52, rgb(255,255,255))
	);
	height: 30px;
	border: 0px #12616E solid;
	border-top-width: 2px;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}

#startButton {
/*	border: none;
	background: none;*/
}

#taskbar ol {
	margin: 2px 0px;
	display: inline-block;
	vertical-align: middle
}

#taskbar ol li {
	display: inline;
	border: 3px solid #A6D8E5;
	-webkit-border-radius: 3px;
	background-color: #2F93A4;
	font-size: 0.9em;
	color: #fff;
	padding: 2px 5px;
	margin: 0px 2px;
}

#menu {
	margin: 15px;
	padding: 15px 0px;
	background-color: rgba(0,0,0,.65);
	-webkit-border-radius: 15px;
	/* border: 2px solid #fff; */
}

#menu li {
	margin: 0px 10px;
	padding: 10px;
	font-size: 0.95em;
	border: 1px solid rgba(0,0,0,0);
	
}

#menu li:hover {
	background-color: #333;
	border: 1px solid rgba(127,127,127,1);
	cursor: pointer
}

#menu li a {
	text-decoration: none;
	color: #fff;
}



.ui-widget {
	font-family: 'Segoe UI';
	font-size: 1em;
}

.ui-widget-content {
	border: 2px solid #C3CBD0;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(250,250,250,.8)), to(rgba(240,240,240,1)));
	color: #222222; 
}

.ui-widget-header {
	border: 0px;
	background: none;
	color: #5293A4;
	font-weight: bold; 
}


.x-form-trigger {
	height: 21px !important
}

.menu-title{
    background: #D6E3F2;
    border-style: solid;
    border-color:#DAE6F4 #99bbe8 #99bbe8 #DAE6F4;
    border-width: 1px;
    margin:-2px -2px 0;
    color:#15428b;
    font:bold 10px tahoma,arial,verdana,sans-serif;
    display:block;
    padding:3px;
}

/* icons  */

.x-tree-node-inline-icon {
	height: 16px !important
} /* 트리노드에서 icon property로 icon의 소스를 설정할 때 크기가 16*18로 되는걸 16*16으로 강제 */

.listview-user { 
	background: url('../img/person-16-ns.png') no-repeat 0 0;
	padding-left: 20px;
}
.ico-adduser { 
	background-image:url(../img/person-plus-16-ns.png) !important
}
.ico-removeuser {
	background-image:url(../img/person-minus-16-ns.png) !important
}

.ico-markuser {
	background-image:url(../img/person-heart-16-ns.png) !important
}


.ico-start {
    background-image:url(../img/circle-green-16-ns.png) !important;
	width: 16px;
	height: 16px;
}

.ico-stop {
    background-image:url(../img/circle-red-16-ns.png) !important;
	width: 16px;
	height: 16px;
}

.ico-ac-start {
	background-image:url(../img/control_play.png) !important;
	width: 16px;
	height: 16px;
}

.ico-ac-stop {
	background-image:url(../img/control_stop.png) !important;
	width: 16px;
	height: 16px;
}

.ico-ac-start:hover {
    background-image:url(../img/control_play_blue.png) !important;
	width: 16px;
	height: 16px;
}

.ico-ac-stop:hover {
    background-image:url(../img/control_stop_blue.png) !important;
	width: 16px;
	height: 16px;
}

.ico-edit {
	background-image:url(../img/pencil-16-ns.png) !important;
}

.ico-startbtn {
	background-image:url(../img/badge-circle-direction-down-16.png) !important;
}

.ico-add {
	background-image:url(../img/16-em-plus.png) !important;
}

.ico-remove {
	background-image:url(../img/16-em-cross.png) !important;
}

.ico-lighting {
	background-image:url(../img/lightening-16-ns.png) !important;
}

.ico-refresh {
	background-image:url(../img/refresh.gif) !important;
}

.ico-instance { 
	background-image:url(../img/16-image.png) !important;
}

.ico-group {
	background-image:url(../img/arrow-branch-bgr-16-ns.png) !important;
}

.ico-manager {
	background-image:url(../img/paper-workplan-16-ns.png) !important;
}

.ico-db {
	background-image:url(../img/database.png) !important;
}

.ico-search {
	background-image:url(../img/16-zoom.png) !important;
}

.ico-password {
	background-image:url(../img/16-security-key.png) !important;
}

.ico-alertgo {
	background-image:url(../img/error_go.png) !important;
}

.ico-rss {
	background-image:url(../img/16-rss-square.png) !important
}

.ico-keyreport {
	background-image:url(../img/report_key.png) !important
}

.ico-rootcert {
	background-image:url(../img/book_key.png) !important
}

.ico-cert {
	background-image:url(../img/page_key.png) !important
}

.ico-addbook {
	background-image:url(../img/book_add.png) !important
}

.ico-addpage {
	background-image:url(../img/page_add.png) !important
}

.ico-mailgo {
	background-image:url(../img/email_go.png) !important
}

.ico-marker {
	background-image:url(../img/marker-16.png) !important
}

.ico-profile {
	background-image:url(../img/profile.png) !important
}

.ico-profilego {
	background-image:url(../img/profile-go.png) !important
}

.ico-star {
	background-image:url(../img/star-16-ns.png) !important
}

.ico-unstar {
	background-image:url(../img/star-inactive-16-ns.png) !important
}

.ico-view-detail {
	background-image:url(../img/application_view_detail.png) !important
}

.ico-view-tile {
	background-image:url(../img/application_view_tile.png) !important
}

.ico-cross {
	background-image:url(../img/badge-circle-cross-16-ns.png) !important;
	width: 16px; height: 16px;
}

.ico-check {
	background-image:url(../img/badge-circle-check-16-ns.png) !important;
	width: 16px; height: 16px;
}

.mapInfo {
	font-family: 'Lucida Grande', 'Segoe UI';
	font-size: 13pt
}

.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	-moz-opacity: 0;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}


/* treegrid */
.x-treegrid-root-table {
    border-right: 1px solid;
}

.x-treegrid-root-node {
    overflow: auto;
}

.x-treegrid-hd-hidden {
    visibility: hidden;
    border: 0;
    width: 0;
}

.x-treegrid-col {
    border-bottom: 1px solid;
    height: 20px;
    overflow: hidden;
    vertical-align: top;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
    white-space: nowrap;
}

.x-treegrid-text {
    padding-left: 4px;
    -moz-user-select: none;
    -khtml-user-select: none;
}

.x-treegrid-resizer {
    border-left:1px solid;
    border-right:1px solid;
    position:absolute;
    left:0;
    top:0;
}

.x-treegrid-header-inner {
    overflow: hidden;
}

.x-treegrid-root-table,
.x-treegrid-col {
    border-color: #ededed;
}

.x-treegrid-resizer {
    border-left-color:#555;
    border-right-color:#555;
}